@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style de chaque pixel de la grid */
.pixel {
    height: 50px;
    width: 50px;
    border: 1px solid white;
}

/* Style du coin de la grid */
.coin {
    height: 50px;
    width: 50px;
}

/* Style de recycler view pour l'historique */
.recycler-view {
    overflow-y: scroll;
    height: 450px;
    min-width: 270px;
    scrollbar-width: none;
}

.recycler-view::-webkit-scrollbar {
    display: none;
}

/* Styole de log de l'historique */
.log {
    padding: 10px;
}

/* Stle de bateaux */
.bateaux {
    min-width: 200px;
}
