@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style de chaque pixel du canvas */
.pixel {
    height: 50px;
    width: 50px;
    border: 1px solid white;
}

/* Coin */
.coin {
    height: 50px;
    width: 50px;
}

/* Recycler View */
.recycler-view {
    overflow-y: scroll;
    height: 450px;
    min-width: 255px;
    scrollbar-width: none;
}

.recycler-view::-webkit-scrollbar {
    display: none;
}

/* Log de recycler view */
.log {
    padding: 10px;
}

/* Bateaux */
.bateaux {
    min-width: 200px;
}
